*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
h1{
    font-size: 3.5rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.648);
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('https://www.xtrafondos.com/wallpapers/hermoso-atardecer-en-la-playa-8459.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.box-image{
    width: 40rem;
    height: 35rem;
    border: solid 2px black;
}
.logo-box{
    width: 100%;
    height: 100%;
}
.botom{
    height: 5rem;
    width: 15rem;
    margin: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: rgb(180, 137, 82);
    background-color: black;
    border: solid 2px white;
}
.botom:hover{
    font-size: 2.3rem;
    font-weight: 700;
    border-radius:15px 0px 15px 0px;
    box-shadow: 4px 5px black;
    color: black;
    background-color: rgb(180, 137, 82);

}